.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 28px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-section {
  background-color: #222;
  padding: 28px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.blog-post-link {
  color: white;
  padding: 12px;
}

.newPost {
  background-color: #222;
  color:  white;
  font-size: 13px;
  border: none;
  padding: 12px;
  margin:  12px;
}

.hidden {
  display: none;
}

.editing {
  background-color: #A9A9A9;
}

label {
  padding: 6px;
}

input {
  width: 225px;
}

.updatePost {
  background-color: #fff;
  color:  #222;
  font-weight: bold;
  font-size: 13px;
  border: none;
  padding: 12px;
  margin:  12px;
}

.rbn-overlay {
  background: rgba(50, 55, 50, .8)
}

.rbn-burger-button {
  background: transparent;
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.rbn-burger-bars {
  background: #444;
}

.rbn-cross {
  background: #bdc3c7;
}

.rbn-menu {
  background: #444;
  font-size: 1.15em;
  padding: 2.5em 1.5em 0;
  width: 120px;
  float: right;
}

.rbn-menu a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.rbn-menu a:hover,
.rbn-menu a:focus {
  color: gray;
}

.rbn-item-list a {
  padding: 0.8em;
}