.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 28px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-section {
  background-color: #222;
  padding: 28px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.blog-post-link {
  color: white;
  padding: 12px;
}

.newPost {
  background-color: #222;
  color:  white;
  font-size: 13px;
  border: none;
  padding: 12px;
  margin:  12px;
}

.hidden {
  display: none;
}

.editing {
  background-color: #A9A9A9;
}

label {
  padding: 6px;
}

input {
  width: 225px;
}

.updatePost {
  background-color: #fff;
  color:  #222;
  font-weight: bold;
  font-size: 13px;
  border: none;
  padding: 12px;
  margin:  12px;
}


